@media only screen and (max-width: 865px) {
    .graphs {
        padding-right:0%;
        padding-left:8%;
        text-align:center;
    }

    .graphs-2 {
        padding-left:3%;
    }
}

#second{
    height: 409px;
}
.three {
    width:600px;
    height: 413px;
    vertical-align:text-top;
    border:0;

}

@media screen and (max-width: 610px) {
    .three {width: 400px;
            height: 288px;}
    #second {height: 285px;}
}
